{% extends 'base.html' %}

{% block content %}

<h1>Add a New Post</h1>
<form action='/newpost' method='post'>
    <p class='error'>{{error}}</p>
    <label>
    New Title:
    <input type='text' name="title" value="{{ title }}">
    </label>
    <br>
    <label for="body">New Blog Post: </label>
    <br>
    <textarea id='body' name='body' value="{{body}}" rows='5' cols='30'>
    </textarea>
    <input type='hidden' name="id" value="{{ id }}">
    <br>
    <input type='submit' value='Add Post'>
</form>

{% endblock %}